.match-parent {
  width: 100%;
  height: 100%;
}
.marker {
  background-image: url('../../assets/drinking-fountain-512.png') !important;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background: white;
}
